h1 {
    font-family: 'Century Gothic', cursive;
    font-size: 40px;
    color: #270057;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
    margin-bottom: 0px;
    text-align: center;
  }

  h2 {
    font-family: 'Century Gothic', cursive;
    font-size: 2.5vw;
    color: #270057;
    margin-left: 0.30em;
    padding-top: 0.30em;
    padding-bottom: 0.30em;
    text-align: center;
  }

  #blackline {
    border-top: 6px solid black;
    height: 10px;
    width: 100%;

  }

  #row {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
  }
 #minirow {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  align-content: center;
  margin-left: 45%;
  margin-right: 45%;
 }
 #mediumrow {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  align-content: center;
  margin-left: 40%;
  margin-right: 40%;
 }
  #ppar {
    text-align: center;
    font-family: 'Century Gothic', cursive;
    font-size: 20px;
    color: #270057;
    margin-left: 0.30em;
    padding-top: 0.60em;
    padding-bottom: 0.30em;
  }

  #info {
    font-family: 'Century Gothic', cursive;
  }

  #btn {
    margin-bottom: 20px;
  }

  #ord {
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .50rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
  }
 #containerMid {
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .90rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 50%;
  min-width: 250px !important;
  }

  #delete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }